.footer {
    background-color: $charcoal-gray;
    height: 116px;
    display: flex;
    justify-content: center;
    padding: 16px 0px 16px 0px;
    margin-top: 72px;
}

.footer .footer__link {
    color: $cloud-gray;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.footer .footer__all{
    display: flex;
    column-gap: 90px;
    align-items: center;
    @media screen and (min-width: 834px) {
        column-gap: 32px;
    }
}

.footer .footer__1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    @media screen and (min-width: 834px) {
        flex-direction: row;
        gap: 32px;
    }
}

.footer .footer__2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    @media screen and (min-width: 834px) {
        flex-direction: row;
        gap: 32px;
    }
}