.section1-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 72px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    @include lg-min {
        padding: 72px 121px;
    }
    @include lg-min {
        padding: 72px 135px;
    }
}

.section1-about .section1-about__about {
    color: $eggplant;
    margin-bottom: 48px;
}

.section1-about .section1-about__biographies {
    color: $eggplant;
    font-weight: 400;
    line-height: 24px;
}

.section1-about .section1-about__group1 {
    display: flex;
    flex-direction: column;
    @include md-min {
        flex-direction: row;
        align-items: center;
    }
}

.section1-about .section1-about__jim {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0px 48px 0px 48px;
}

.section1-about .section1-about__group2 {
    display: flex;
    flex-direction: column;
    @include md-min {
        flex-direction: row;
        align-items: center;
    }
}

.section1-about .section1-about__craig {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0px 48px 0px 48px;
}

.section1-about .section1-about_name1 {
    font-size: 24px;
    font-weight: 700px;
    margin-bottom: 10px;
}

.section1-about .section1-about_name2 {
    font-size: 24px;
    font-weight: 700px;
    margin-bottom: 10px;
}

.section1-about .section1-about_position1 {
    margin-bottom: 40px;
    font-size: 18px;
}

.section1-about .section1-about_position2 {
    margin-bottom: 40px;
    font-size: 18px;
}

.section1-about .section1-about__portrait1 {
    width: 157px;
    height: 211px;
}

.section1-about .section1-about__portrait2 {
    width: 157px;
    height: 211px;
}

.section1-about .section1-about_description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}