.section6-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 16px 72px 16px;

    @include md-min {
        padding: 72px 118px 72px 118px;
    }

    @include lg-min {
        padding: 72px 121px 72px 121px;
        flex-direction: row;
    }

    @include xl-min {
        padding: 72px 135px 72px 135px;
    }
}

.section6-home .section6-home__tagline {
    color: $eggplant;
    line-height: 32px;
    text-align: center;
}

.section6-home .section6-home__caption {
    color: $eggplant;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    margin-top: 48px;

    @include md-min {
        font-size: 16px;
        line-height: 32px;
    }
}

.section6-home .section6-home__people {
    width: 100%;
    height: auto;
    margin-top: 48px;

    @include lg-min {
        width: 616px;
        height: 426px;
    }

    @include xl-min {
        width: 696px;
        height: 493px;
    }
}