.header-logo {
    color: blue;
    font-size: 16px;
    
    @include sm {
        color: black;
        font-size: 20px;
        text-align: center; 
    }
    @include md {
        color: green;
        font-size: 28px;
        text-align: left; 
    }
    @include lg {
        color: orange;
        font-size: 32px;
        text-align: center; 
    }
}